COW(){ 
    cowsay -f $(find /usr/share/cowsay/ -name '*.cow' -type f | sort -R | head -1) $@
}

SRCDIR=$( realpath $(dirname "$0") )

PROJECT_NAME="fb_switch"
SRC_GIT="https://github.com/bombcheck/FB.Switch.git"

#SRC_GITPROJECT="$SRCDIR"/src/$( ls "$SRCDIR" ) 
SRC_GITPROJECT="$SRCDIR/src/$PROJECT_NAME" #"$( find src/ -mindepth 1 -maxdepth 1 -type d )"

DOCKER_PROCNAME(){ 
    docker ps -a -f label="$PROJECT_NAME" --format="{{.Names}}"; 
}
#SRC_LOCAL="$PROJECT_NAME"

#LOCALPATH=$( realpath "$(dirname $0)" )"/src/FB.Switch"
CUSTOM_CONFIG="$SRCDIR/custom_config"