<?xml version="1.0" encoding="utf-8"?>
<config debug="false">
  <global>
    <timezone>Europe/Berlin</timezone>
    <longitude>6.547151</longitude>
    <latitude>51.264168</latitude>
    <multiDeviceSleep>250</multiDeviceSleep>
    <country>Deutschland</country>
    <plz>47877</plz>
    <city>Willich</city>
    <timerRunOnce>false</timerRunOnce>
    <installpath>/var/www/localhost/htdocs</installpath>
    <timerPingUser>false</timerPingUser>
    <EnergyCosts>0.25</EnergyCosts>
    <sendRaspi>false</sendRaspi>
    <timerGlobalRun>true</timerGlobalRun>
    <timerCheckFBdect200>true</timerCheckFBdect200>
    <UseAlternateOutdoorTempSource>false</UseAlternateOutdoorTempSource>
    <AlertState>green</AlertState>
    <OutdoorTempSource>99999</OutdoorTempSource>
  </global>
  <gui>
    <showRoomButtonInDevices>true</showRoomButtonInDevices>
    <showMenuOnLoad>false</showMenuOnLoad>
    <sortOrderDevices>SORT_BY_NAME</sortOrderDevices>
    <sortOrderGroups>SORT_BY_XML</sortOrderGroups>
    <sortOrderRooms>SORT_BY_XML</sortOrderRooms>
    <sortOrderTimers>SORT_BY_TYPE_AND_NAME</sortOrderTimers>
    <showAllOnOffBtnInMenu>true</showAllOnOffBtnInMenu>
    <showTimerBtnInMenu>false</showTimerBtnInMenu>
    <showRoomsBtnInMenu>true</showRoomsBtnInMenu>
    <showGroupsBtnInMenu>true</showGroupsBtnInMenu>
    <showActionBtnInMenu>true</showActionBtnInMenu>
    <playSounds>false</playSounds>
    <showSplashAnimation>false</showSplashAnimation>
  </gui>
  <connairs>
    <connair>
      <id>1</id>
      <address>192.168.1.6</address>
      <port>49880</port>
      <techdata>Vendor: Brennenstuhl - FW: V016</techdata>
    </connair>
  </connairs>
  <milightwifis>
  </milightwifis>
  <milighthubs>
  </milighthubs>
  <devices>
    <device>
      <id>01</id>
      <name>1A</name>
      <vendor>elro</vendor>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
      <address>
        <masterdip>10000</masterdip>
        <slavedip>10000</slavedip>
        <tx433version/>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>02</id>
      <name>1B</name>
      <vendor>elro</vendor>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
      <address>
        <masterdip>10000</masterdip>
        <slavedip>01000</slavedip>
        <tx433version/>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>ON</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>03</id>
      <name>1C</name>
      <vendor>elro</vendor>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
      <address>
        <masterdip>10000</masterdip>
        <slavedip>10000</slavedip>
        <tx433version/>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>04</id>
      <name>1D</name>
      <vendor>elro</vendor>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
      <address>
        <masterdip>10000</masterdip>
        <slavedip>10000</slavedip>
        <tx433version/>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>10</id>
      <name>15A</name>
      <vendor>elro</vendor>
      <address>
        <masterdip>10001</masterdip>
        <slavedip>10000</slavedip>
        <tx433version>2</tx433version>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>20</id>
      <name>15B</name>
      <vendor>elro</vendor>
      <address>
        <masterdip>10001</masterdip>
        <slavedip>01000</slavedip>
        <tx433version>2</tx433version>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>30</id>
      <name>15C</name>
      <vendor>elro</vendor>
      <address>
        <masterdip>10001</masterdip>
        <slavedip>00100</slavedip>
        <tx433version>2</tx433version>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>31</id>
      <name>15D</name>
      <vendor>elro</vendor>
      <address>
        <masterdip>10001</masterdip>
        <slavedip>00010</slavedip>
        <tx433version>2</tx433version>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>40</id>
      <name>25A</name>
      <vendor>elro</vendor>
      <address>
        <masterdip>01001</masterdip>
        <slavedip>10000</slavedip>
        <tx433version>2</tx433version>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>41</id>
      <name>25B</name>
      <vendor>elro</vendor>
      <address>
        <masterdip>01001</masterdip>
        <slavedip>01000</slavedip>
        <tx433version>2</tx433version>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>42</id>
      <name>25C</name>
      <vendor>elro</vendor>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
      <address>
        <masterdip>01001</masterdip>
        <slavedip>00100</slavedip>
        <tx433version/>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>ON</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
    <device>
      <id>43</id>
      <name>25D</name>
      <vendor>elro</vendor>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
      <address>
        <masterdip>01001</masterdip>
        <slavedip>00010</slavedip>
        <tx433version/>
        <rawCodeOn/>
        <rawCodeOff/>
      </address>
      <room>Infrastruktur</room>
      <senderid/>
      <status>OFF</status>
      <showDeviceStatus>BUTTON_ICON</showDeviceStatus>
      <sendCommandsOnlyOnce>false</sendCommandsOnlyOnce>
    </device>
  </devices>
  <groups>
  </groups>
  <timers debug="false">
  </timers>
  <fritzbox>
    <address>192.168.1.1</address>
    <username/>
    <password/>
  </fritzbox>
  <actions>
    <action>
      <id>2</id>
      <name>Licht AN</name>
      <do type="device" id="40" action="on"/>
      <do type="device" id="41" action="on"/>
    </action>
    <action>
      <id>3</id>
      <name>Licht AUS</name>
      <do type="device" id="40" action="off"/>
      <do type="device" id="41" action="off"/>
    </action>
  </actions>
  <persons>
    <person>
      <id>1</id>
      <name>Standard-Benutzer</name>
      <pingto/>
      <theme>DARK</theme>
      <theme_bg>desktop_bg_asteroids</theme_bg>
      <ShowSettingsMenue>true</ShowSettingsMenue>
      <ShowFBdect200EnergyData>true</ShowFBdect200EnergyData>
      <AutoRefreshDeviceData>false</AutoRefreshDeviceData>
      <favoritgroups>1,3,2,4,5</favoritgroups>
      <favoritactions>14,16,12,15,13,11</favoritactions>
      <favoritdevices>1,2,21,9,3,24,6,20,5,4,13,25,14,8,16,19,22,11,17,23</favoritdevices>
      <status/>
    </person>
  </persons>
</config>
